.about-container{
    background-color: rgb(3, 4, 41);
    margin-top: -20px;
}

.about-section h1{
    color: white;
    text-align: center;
}

.about-section p{
    color: white;
    text-align: center;
}

.team-section img{
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

.team-section h2{
    color: white;
    text-align: center;
}

.team-member h3{
    color: white;
    text-align: center;
}

.team-member p{
    color: white;
    text-align: center;
}

footer{
    height: 30px;
    background-color: brown;
    text-align: right;
    padding-bottom: 5px;
}